<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body class="profile">
    <%- include ('partials/nav')-%>
    <h1>Dit is je profiel:</h1>
    <section class="profile">
      <% if (profile.img){%>
      <img
        src="/uploads/<%= profile.img %>"
        height="300x"
        alt="Dit is je profielfoto"
      />
      <%}%>
      <h3 class="naam">Naam</h3>
      <p><%= profile.name %></p>
      <h3 class="geboorteDatum">Geboorte datum</h3>
      <p><%= profile.birthdate %></p>
      <h3 class="email">Email</h3>
      <p><%= profile.email %></p>
      <h3 class="hobbies">Hobbies</h3>
      <ul class="hobbies">
        <% profile.hobbies.forEach((hobby) => {%>
        <li><%= hobby %></li>
        <%})%>
      </ul>
      <h3>Bio</h3>
      <p><%= profile.bio %></p>
    </section>
    <section class="menu">
      <a class="edit" href="/profile/edit/<%= profile._id%>">Bewerken</a>
      <a class="delete" href="/profile/delete/<%= profile._id%>">Verwijderen</a>
    </section>
    <script src="/js/profile.js"></script>
  </body>
</html>
