<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dit is je profiel:</h1>
    <section class="profile">
      <img src="/uploads/<%= profile.img %>" width="300px" />
      <h3>Naam</h3>
      <p><%= profile.name %></p>
      <h3>Geboorte datum</h3>
      <p><%= profile.birthdate %></p>
      <h3>Email</h3>
      <p><%= profile.email %></p>
      <h3>Hobbies</h3>
      <ul class="hobbies">
        <% profile.hobbies.forEach((hobby) => {%>
        <li><%= hobby %></li>
        <%})%>
      </ul>
      <h3>Bio</h3>
      <p><%= profile.bio %></p>

      <form action="/profile/edit" method="POST">
        <button>Bewerken</button>
      </form>
      <button>Verwijderen</button>
    </section>
    <script src="/js/profile.js"></script>
  </body>
</html>
