<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body class="profilesList">
    <%- include ('partials/nav')-%>
    <section>
      <% profiles.forEach(profile =>{%>
      <a href="profile/<%= profile._id %>">
        <div class="profile">
          <p><%= profile.name%></p>
          <p><%= profile.email%></p>
          <p><%= profile._id%></p>
          <img src="uploads/<%=profile.img%>" alt="" height="150px" />
        </div>
      </a>
      <%})%>
    </section>
  </body>
</html>
